<div class="container text-center">
    <body>
        <h1>The <%= @team.full_name %></h1>

        <br>
        <br>

        <img src= <%= "https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/#{@team.abv.downcase}.png"%>  width="300" height="300"> 
        <br>
        <br>

        City: <%= @team.city %>
        <br> <br>
        Conference: <%= @team.conference %>
        <br> <br>
        Division: <%= @team.division %>
        <br> <br>
        Abbreviation: <%= @team.abv %>
        <br> <br>

        <% unless @team.players.empty? %>
            Rostered Players:
            <br> <br>
                <% @team.players.each do |p| %>
                    <%= link_to p.full_name, player_path(p.id) %>
                    <br>
                <% end %>
        <% else %>
            There are no rostered players at this moment.
        <% end %>
        <br><br><br><br><br>
    </body>
</div>