<h1>Show Page for <%= @team.full_name %></h1>

Team Name: <%= @team.full_name %>
<br> <br>
City: <%= @team.city %>
<br> <br>
Conference: <%= @team.conference %>
<br> <br>
Division: <%= @team.division %>
<br> <br>
Abbreviation: <%= @team.abv %>
<br> <br>

<% unless @team.players.empty? %>
    Rostered Players:
    <ul>
        <% @team.players.each do |p| %>
            <li><%= link_to p.full_name, player_path(p.id) %></li>
        <% end %>
    </ul>
<% else %>
    There are no rostered players at this moment.
<% end %>