<div class="container text-center">

    <h1>Show Page for <%= @player.f_name %></h1>

    Full Name: <%= @player.full_name%>
    <br> <br>
    Position: <%= @player.position %>
    <br> <br>
    <% if @player.weight != nil %>
        Weight (pounds): <%=@player.weight%>
    <% else %>
        Weight not available
    <% end %>
    <br> <br>

    <% if @current_user.players.include?(@player)%>
        Wanna unfollow this player?
        Click <%= link_to "Here!", "/unfollow_player/#{@player.id}", method: :delete %>
    <% else %>
        Wanna follow this player?
        Click <%= link_to "Here!", "/follow_player/#{@player.id}", method: :post %>
    <% end %>

</div>  