<!DOCTYPE html>
<html>
  <head>
    <title>RyanDarrowMod2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background="background.jpg">
    <% if logged_in? %>




    <button class="button"> Logged In As: <%= button_to current_user.username, user_path(current_user.id), method: :get %> </button>

    





      <%= button_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= button_to "Login", new_session_path, method: :get %>
    <% end %>
    <br>

    <div id="outer">  
      <div class="inner"><%= button_to "Players", players_path, method: :get %></div>
      <div class="inner"><%= button_to "Teams", teams_path, method: :get %></div>
      <div class="inner"><%= button_to "Games", games_path, method: :get %></div>
    </div>
    <br><br>

    <%= yield %>
  </body>
</html>
